### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
player = len(purchase_data["SN"].value_counts())
player_df = pd.DataFrame({"Total Player":[player]})
player_df

   Total Player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_item = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
number_of_purchases = purchase_data["Price"].count()
total_revenue = purchase_data["Price"].sum()
summary_df = pd.DataFrame(
{
    "Unique Item" : [unique_item],
    "Average Price" : [f"${average_price:.2f}"],
    "Number of Purchases" : [number_of_purchases],
    "Total Revenue" : [f"${total_revenue:,}"]     
})
summary_df

   Unique Item Average Price  Number of Purchases Total Revenue
0          179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
gender_df = purchase_data.groupby("Gender")

#Get number of unique from gender_df
gender_count = gender_df.nunique()["SN"]
gender_percentage = gender_count/player*100

gender_demographic = pd.DataFrame(
{
    "Total Count" : gender_count,
    "Percentage of Players" : gender_percentage,    
})

# Apply formatting by using a dict mapping
format_mapping = {"Percentage of Players":"{:,.2f}%"}

gender_demographic_sort = gender_demographic.sort_values("Total Count",ascending=False)
gender_demographic_sort.style.format(format_mapping)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
purchase_count = gender_df["Purchase ID"].count()
avg_price = gender_df["Price"].mean()
avg_total = gender_df["Price"].sum()
avg_total_per_person = avg_total/gender_count

purchasing_df = pd.DataFrame(
{
    "Purchase Count" : purchase_count,
    "Average Purchase Price" : avg_price,
    "Total Purchase Value" : avg_total,
    "Avg Total Purchase per Person" : avg_total_per_person,    
})

format_mapping = {"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}","Avg Total Purchase per Person":"${:,.2f}"}
purchasing_df.style.format(format_mapping)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
# Create bins in which to place values based upon ages of player
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,100]

# Create labels for each bin
labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins,labels=labels)
purchase_data.head()

age_df = purchase_data.groupby("Age Group")
age_df.count()

age_count = age_df.nunique()["SN"]
age_percentage = age_count/player*100

age_demographic = pd.DataFrame(
{
    "Total Count" : age_count,
    "Percentage of Players" : age_percentage,
})

format_mapping = {"Percentage of Players":"{:,.2f}%"}
age_demographic.style.format(format_mapping)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
purchase_count_age = age_df["Purchase ID"].count()
avg_price_age = age_df["Price"].mean()
avg_total_age = age_df["Price"].sum()
avg_total_per_person_age = avg_total_age/age_count

purchasing_df_age = pd.DataFrame(
{
    "Purchase Count" : purchase_count_age,
    "Average Purchase Price" : avg_price_age,
    "Total Purchase Value" : avg_total_age,
    "Avg Total Purchase per Person" : avg_total_per_person_age,    
})

format_mapping = {"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}","Avg Total Purchase per Person":"${:,.2f}"}
purchasing_df_age.style.format(format_mapping)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
spender_df = purchase_data.groupby("SN")
spender_df.count()

purchase_count_sd = spender_df["Purchase ID"].count()
avg_price_sd = spender_df["Price"].mean()
avg_total_sd = spender_df["Price"].sum()

purchasing_df_sd = pd.DataFrame(
{
    "Purchase Count" : purchase_count_sd,
    "Average Purchase Price" : avg_price_sd,
    "Total Purchase Value" : avg_total_sd,
})

format_mapping = {"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"}
top_spender_sort = purchasing_df_sd.sort_values("Total Purchase Value",ascending=False).head()
top_spender_sort.style.format(format_mapping)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
# Retrieve the Item ID, Item Name, Item price
new_df = purchase_data[["Item ID", "Item Name", "Price"]]
item_df = new_df.groupby(["Item ID", "Item Name"])
item_df.count()

purchase_count_item = item_df["Item ID"].count()
price_item = item_df["Price"].mean()
total_item = item_df["Price"].sum()

purchasing_df_item = pd.DataFrame(
{
    "Purchase Count" : purchase_count_item,
    "Item Price" : price_item,
    "Total Purchase Value" : total_item,
})

format_mapping = {"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"}
popular_item_sort = purchasing_df_item.sort_values("Purchase Count",ascending=False).head()
popular_item_sort.style.format(format_mapping)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [21]:
format_mapping = {"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"}
popular_item_sort = purchasing_df_item.sort_values("Total Purchase Value",ascending=False).head()
popular_item_sort.style.format(format_mapping)